@import url("https://fonts.googleapis.com/css?family=Dosis:500");

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100");

/* General Styles */

body {
  background: url('https://www.freepik.com/free-photo/wooden-texture_1000699.htm');
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  line-height: 3rem;
  color: #e4e4e4;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover, a:focus{
  text-decoration: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Dosis', sans-serif;;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 700;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:before {
  content: url('..images/logo_image_light.png');
  left: 0;
}
.content__container:after {
  content: '/';
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #b72228;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
/* ------------------------------------------------------------------
Selection
------------------------------------------------------------------ */

::-moz-selection {
  background: #000;
  color: #fff;
}

::-webkit-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

/* ------------------------------------------------------------------
Transition elsements
------------------------------------------------------------------- */

a,.btn,.navbar a {
  -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.overlay-menu {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#storepic{
  max-width: 500px;
}
/* ------------------------------------------------------------------
Reset box-shadow
------------------------------------------------------------------- */

.btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}


/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */

.bg-dark a {
  color: #aaa;
}

.bg-dark a:hover,.bg-dark a:focus {
  color: #fff;
}

.text-light {
  color: rgba(255, 255, 255, 0.7);
}

.text-light h1,.text-light h2,.text-light h3,.text-light h4,.text-light h5,.text-light h6,.text-light .h1,.text-light .h2,.text-light .h3,.text-light .h4,.text-light .h5,.text-light .h6 {
  color: #fff;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  line-height: 1.4;
  font-family: 'Dosis', sans-serif;;
  font-weight: 400;
  color: #ffffff;
}

h1,.h1 {
  font-size: 28px;
}

h2,.h2 {
  font-size: 24px;
}

h3,.h3 {
  font-size: 18px;
}

h4,.h4 {
  font-size: 21px;
}

h5,.h5 {
  font-size: 18px;
}

h6,.h6 {
  font-size: 12px;
}

p,ul {
  margin: 0 0 10px;
}

.font-alt {
  font-family: 'Dosis', sans-serif;;
  letter-spacing: 1px;
}



/* ------------------------------------------------------------------
Buttons
------------------------------------------------------------------- */

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 8px 37px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.btn:focus,.btn:active:focus {
  background: none;
  outline: 0;
}

/* Button types */

.btn.btn-round {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* Button colors */

.btn.btn-g {
  background: #b72228;
  color: #ffffff;
}

.btn.btn-g:hover,.btn.btn-g:focus {
  background: #ffffff;
  color: #111;
}

.btn.btn-d {
  background: rgba(17, 17, 17, 0.8);
  color: #fff;
}

.btn.btn-d:hover,.btn.btn-d:focus {
  background: #111111;
}

.btn.btn-b {
  background: #111111;
  color: #fff;
}

.btn.btn-b:hover,.btn.btn-b:focus {
  background: rgba(17, 17, 17, 0.8);
}

/* Button sizes */

.btn.btn-lg {
  font-size: 13px;
  padding: 12px 45px;
}

.btn.btn-sm {
  letter-spacing: 1px;
  font-size: 10px;
  padding: 6px 25px;
}

#read_more {
  background: #b72228;
  color:#ffffff;
  border : none;
  border-radius: 5px;
  font-family: 'Dosis', sans-serif;;
  font-size: 14px;
  
}

/* ------------------------------------------------------------------
Social links
------------------------------------------------------------------- */

.social-text-links,.social-icon-links {
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-text-links > li {
  
  display: inline-block;
  margin: 0 10px 20px;
}
.social-text-links > li > a {
  color:#b72228;
}
.social-text-links > li > a:hover {
  color:#ffffff;
}
.social-icon-links > li {
  display: inline-block;
  margin: 0 5px 10px 0;
}

.social-icon-links > li > a {
  display: inline-block;
  background: #f7f7f7;
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  color: #111;
}

.social-icon-links > li > a:hover {
  background: #f0f0f0;
}

/* ------------------------------------------------------------------
Content box
------------------------------------------------------------------- */

.content-box {
  margin: 25px 0;
}

.content-box-icon {
  text-align: center;
  font-size: 42px;
  color: #111;
}

.content-box-title {
  letter-spacing: 6px;
  text-align: center;
  margin: 5px 0 18px;
}

/* Alt content box */

.alt-content-box {
  position: relative;
  padding-left: 55px;
  margin: 25px 0;
}

.alt-content-box-icon {
  position: absolute;
  height: 38px;
  width: 38px;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
}

.alt-content-box-title {
  margin-bottom: 18px;
}

/* ------------------------------------------------------------------
Owl sliders
------------------------------------------------------------------- */

/* Pagination */

/* Slider images */

.owl-page {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  overflow: hidden;
  height: 6px;
  width: 6px;
  margin: 6px 4px;
  text-indent: -200%;
  z-index: 1000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 1px rgba(17, 17, 17, 0.4);
  -moz-box-shadow: 0 0 1px rgba(17, 17, 17, 0.4);
  -o-box-shadow: 0 0 1px rgba(17, 17, 17, 0.4);
  box-shadow: 0 0 1px rgba(17, 17, 17, 0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

/* ------------------------------------------------------------------
Overlays
------------------------------------------------------------------- */

.bg-light {
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.bg-dark {
  background-color: #111;
  height: 100%;
  width: 100%;
}

.bg-dark,.bg-dark-30,.bg-dark-60,.bg-dark-90,.bg-dark h1,.bg-dark h2,.bg-dark h3,.bg-dark h4,.bg-dark h5,.bg-dark h6,.bg-dark-30 h1,.bg-dark-30 h2,.bg-dark-30 h3,.bg-dark-30 h4,.bg-dark-30 h5,.bg-dark-30 h6,.bg-dark-60 h1,.bg-dark-60 h2,.bg-dark-60 h3,.bg-dark-60 h4,.bg-dark-60 h5,.bg-dark-60 h6,.bg-dark-90 h1,.bg-dark-90 h2,.bg-dark-90 h3,.bg-dark-90 h4,.bg-dark-90 h5,.bg-dark-90 h6 {
  color: #fff;
}

.bg-dark-30:before,.bg-dark-60:before,.bg-dark-90:before,.bg-light-30:before,.bg-light-60:before,.bg-light-90:before {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.bg-dark-30:before {
  background: rgba(34, 34, 34, 0.3);
  content: "";
  left: 0;
  top: 0;
}

.bg-dark-60:before {
  background: url(../images/hero-small.jpg) no-repeat top center fixed; 
  content: "";
  left: 0;
  top: 0;
}

.bg-dark-90:before {
  background: rgba(34, 34, 34, 0.9);
  content: "";
  left: 0;
  top: 0;
}

.bg-light-30:before {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  left: 0;
  top: 0;
}

.bg-light-60:before {
  background: rgba(255, 255, 255, 0.6);
  content: "";
  left: 0;
  top: 0;
}

.bg-light-90:before {
  background: rgba(255, 255, 255, 0.9);
  content: "";
  left: 0;
  top: 0;
}

/* ------------------------------------------------------------------
Navigation
------------------------------------------------------------------- */

.navbar-custom {
  -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.navbar-custom {
  background: rgba(10, 10, 10, 0.9);
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

.navbar-custom .navbar-brand {
  padding: 10px 15px;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.navbar-custom a {
  color: #fff;
 
}

.navbar-custom .nav > li > a:focus,.navbar-custom .nav > li > a:hover {
  background: none;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid red;
}

.show-overlay .icon-bar {
  margin-top: 2px;
}

.show-overlay .icon-bar + .icon-bar {
  margin-top: 4px;
}

.show-overlay .icon-bar {
  background: #fff;
  display: block;
  height: 2px;
  width: 16px;
}

.navbar-custom.show-overlay .icon-bar {
  background: #fff;
}

.navbar-custom .show-overlay:hover .icon-bar {
  background: rgba(255, 255, 255, 0.7);
}

/* Navbar transparent */

.navbar-transparent {
  background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-transparent a,.navbar-transparent .navbar-brand {
  color: #FFF;
}

.navbar-transparent.nav > li > a:focus,.navbar-transparent .nav > li > a:hover {
  background: none;
  color: rgba(255, 255, 255, 0.7);
}

.navbar-transparent .show-overlay .icon-bar {
  background: #fff;
}

/* Navbar light */

.navbar-transparent.navbar-light {
  background: transparent;
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-light {
  background: rgba(255, 255, 255, 0.95);
  webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.navbar-light a,.navbar-light .navbar-brand {
  color: #111;
}

.navbar-light .nav > li > a:focus,.navbar-light .nav > li > a:hover {
  background: none;
  color: rgba(17, 17, 17, 0.7);
}

.navbar-light .show-overlay .icon-bar {
  background: #111;
}

.navbar-light .show-overlay:hover .icon-bar {
  background: rgba(17, 17, 17, 0.7);
}

/* Overlay menu */

.overlay-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  display: table;
  min-height: 100%;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 9999;
  opacity: 0;
}

.overlay-menu.active {
	visibility: visible;
	opacity: 1;
	top: 0;
}

/* Hide menu link */

.navigation-hide {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.navigation-hide:hover {
  color: rgba(255, 255, 255, 0.7);
}

.overlay-menu-inner {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  width: 100%;
  text-align: center;
}

.overlay-menu-nav {
  max-width: 300px;
  margin: 0 auto 60px;
}

.overlay-navigation-footer {
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  bottom: 18px;
  width: 100%;
  color: #666;
}

/* Overlay navbar */

#nav,#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav > li > a {
  font-family: 'Dosis', sans-serif;;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  color: #FDFDFD;
}

#nav li a:hover {
  color: #fff;
  border-bottom: 2px solid red;
}

#nav li ul {
  display: none;
  padding: 5px 0;
  margin: 5px 0 10px;
}

#nav li ul li a {
  display: inline-block;
  padding: 6px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  color: #666;
}

/* ------------------------------------------------------------------
Hero
------------------------------------------------------------------- */

.module-hero {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-caption {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hero-text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

/* Hero caption sizes*/

mark {
  color: white;
  background-color: black;
  opacity: 0.5;
}

.mh-line-size-1,.mh-line-size-2,.mh-line-size-3,.mh-line-size-4,.mh-line-size-5,.mh-line-size-6 {
  font-weight: 400;
  margin: 0;
}

.mh-line-size-1 {
  letter-spacing: 30px;
  font-size: 30px;
}

.mh-line-size-2 {
  letter-spacing: 40px;
  font-size: 26px;
  opacity: 0.9;
}

.mh-line-size-3 {
  letter-spacing: 24px;
  font-size: 26px;
  opacity: 0.8;
}

.mh-line-size-4 {
  letter-spacing: 10px;
  font-size: 20px;
  opacity: 0.6;
}

.mh-line-size-5 {
  letter-spacing: 3px;
  font-size: 14px;
  opacity: 0.6;
}

.mh-line-size-6 {
  font-size: 15px;
  opacity: 0.6;
}

/* ------------------------------------------------------------------
Modules
------------------------------------------------------------------- */

.wrapper {
  background: url('../images/dark_wood.png');
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.module {
  padding: 80px 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-custom + .module {
  padding: 200px 0;
}

.module-parallax {
  background-attachment: fixed;
}

/* Module titles */

.module-title {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
}

.sub-title {
  margin-top: 40px;
}

.module-subtitle {
  text-align: center;
  margin-bottom: 70px;
}

.module-icon {
  font-size: 48px;
  margin-bottom: 70px;
}

.module-title + .module-subtitle {
  margin-top: -35px;
}

.copyright {
  color: #ffffff;
  padding: 0 5px;
}
a:hover, a:focus{
  color:#b72228;
}
/* ------------------------------------------------------------------
Works grid
------------------------------------------------------------------- */

.show-more {
  font-size: 16px !important;
  font-family: 'Dosis', sans-serif;;
  border-radius: 10px!important;


}

/* ------------------------------------------------------------------
Portfolio Single
------------------------------------------------------------------- */

.image-caption {
  position: relative;
  margin: 0 0 20px;
}

.image-caption .caption-text {
  position: absolute;
  display: table;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 20px;
  font-size: 12px;
}

/* ------------------------------------------------------------------
Blog
------------------------------------------------------------------- */

/* Fix Firefox 3 column width bug */

@-moz-document url-prefix()  {
@media (min-width: 1310px) {
    .posts-masonry .col-lg-4 {
      width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .posts-masonry .col-md-4 {
      width: 33.3333%;
    }
}
}

.post {
  width: 100%;
}

.post-title {
  margin: 0;
}

.post-title a {
  color: #111;
  
}

.post-title a:hover {
  color: rgba(34, 34, 34, 0.55);
}

.post-meta {
  font-size: 12px;
  margin: 0 0 10px;
}

.post-header {
  margin: 0 0 20px;
}




/* -------------------------------------------------------------------
Google map
------------------------------------------------------------------- */

#module-maps {
  position: relative;
  height: 450px;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

#map img {
  max-width: none;
}

/* ------------------------------------------------------------------
Preloader
------------------------------------------------------------------- */

.page-loader {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9998;
}

.loader {
  background: #ddd;
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 40px;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  text-indent: -9999em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
  animation: ball-scale 1s 0s ease-in-out infinite;
}

@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

/* -------------------------------------------------------------------
Scroll to top
------------------------------------------------------------------- */

.scroll-up {
  position: fixed;
  display: none;
  bottom: 7px;
  right: 7px;
  z-index: 999;
}

.scroll-up a {
  background: #fff;
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.scroll-up a:hover,.scroll-up a:active {
  opacity: 1;
  color: #000;
}

/* ------------------------------------------------------------------
Reset bootstrap navigation styles for small screens
------------------------------------------------------------------- */

.navbar-custom .navbar-header {
  float: left;
}

.navbar-custom .navbar-right {
  float: right !important;
  margin-right: -15px;
}

.navbar-custom .navbar-nav {
  margin: 0 -15px;
}

.navbar-right + .extra-navbar {
  margin: 0 15px;
}

.navbar-custom .navbar-nav > li {
  float: left;
}

.navbar-custom .navbar-nav > li > a {
  padding-top: 15px;
  font-family: 'Dosis', sans-serif;;
}

/*new css*/

.grid-container {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.card-deck {
  margin-bottom: 15px;
}

.post {
  /* background-color: transparent; */
  background: rgba(7, 6, 6, 0.2);
}

.posts,.with-text {
  height: 350px;
}

.card-body {
  background: rgba(7, 6, 6, 0.3);
  /* background-color: rgb(7, 6, 6); */
  /* opacity: 0.5; */
  /* border-color:#ffffff; */
}

.card-img-top{
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text{
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2rem;
}

.card-title {
  color:#e8cd91;
  text-transform: uppercase;

}


#logo2 {
  display: none;
 }
 
/* -------------------------------------------------------------------
Responsive Media Querries
------------------------------------------------------------------- */

/** Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
  #logo2 {
    display: block;
   }
   #logo {
    display: none;
   }
  h4, .h4{
    font-size: 18px;
  }
  body{
    font-size: 12px;
  }
  .extra_content {
    display: none;
  }
  #read_more {
    display: block;
    font-size: 16px;
  }


.read_more  {
  display: none;
}

.show {
   display: block!important;
}

}
  
  




/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
  #logo2 {
    display: none;
   }
   #logo {
    display: block;
   }
   h4, .h4{
    font-size: 21px;
  }
  .bg-dark-60:before {
    background: url(../images/hero-medium.jpg) no-repeat top center fixed; 
    content: "";
    left: 0;
    top: 0;
  }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bg-dark-60:before {
    background: url(../images/hero.jpg) no-repeat center center fixed; 
  }
  .extra_content {
    display: block;
  }
  .extra_content2 {
    display: none;
  }

  #read_more {
    display: block;
  }


.read_more  {
  display: none;
}

.show {
   display: block!important;
}
}

@media (max-width: 992px) {
  /* Hero captions */

  .mh-line-size-1 {
    letter-spacing: 20px;
    font-size: 26px;
  }

  .mh-line-size-2 {
    letter-spacing: 28px;
    font-size: 20px;
  }

  .mh-line-size-3 {
    letter-spacing: 20px;
    font-size: 22px;
  }

  .mh-line-size-4 {
    letter-spacing: 8px;
    font-size: 16px;
  }

  /* Portfolio grid */
}

@media only screen and (max-width: 960px) {
  /* Side and overlay nav */
	.overlay-menu.active {
		position: absolute;
	}
	.aux-navigation-active .wrapper{
		position: fixed;
	}
	.aux-navigation-active .side-navigation-wrapper,
	.aux-navigation-active .overlay-menu {
		position: absolute;
	}
 	/*----------------------------*/
	.navbar-custom {
		position: absolute;
		top: 0;
		width: 100%;
	}
  /*----------------------------*/

  .navbar-custom {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* Hero captions */

  .mh-line-size-1 {
    letter-spacing: 24px;
    font-size: 26px;
  }

  .mh-line-size-2 {
    letter-spacing: 16px;
    font-size: 15px;
  }

  .mh-line-size-3 {
    letter-spacing: 14px;
    font-size: 14px;
  }

  .mh-line-size-4 {
    letter-spacing: 4px;
    font-size: 14px;
  }

  .mh-line-size-5 {
    letter-spacing: 2px;
    font-size: 13px;
  }

  .mh-line-size-6 {
    font-size: 13px;
  }

  /* Navbar */

  .extra-navbar {
    display: none;
  }
}

@media (max-width: 500px) {
  /* Hero captions */

  .mh-line-size-1 {
    letter-spacing: 12px;
    font-size: 21px;
  }

  .mh-line-size-2 {
    letter-spacing: 6px;
    font-size: 14px;
  }

  .mh-line-size-3 {
    letter-spacing: 4px;
    font-size: 13px;
  }

  .mh-line-size-4 {
    letter-spacing: 4px;
    font-size: 12px;
  }

  .mh-line-size-5 {
    letter-spacing: 2px;
    font-size: 11px;
  }

  .mh-line-size-6 {
    font-size: 12px;
  }

  /* Portfolio grid */
}

/* -------------------------------------------------------------------
Multi-columns-row
------------------------------------------------------------------- */

@media (min-width: 768px) {
  .multi-columns-row .col-sm-6:nth-child(2n + 3) {
    clear: left;
  }

  .multi-columns-row .col-sm-4:nth-child(3n + 4) {
    clear: left;
  }

  .multi-columns-row .col-sm-3:nth-child(4n + 5) {
    clear: left;
  }

  .multi-columns-row .col-sm-2:nth-child(6n + 7) {
    clear: left;
  }

  .multi-columns-row .col-sm-1:nth-child(12n + 13) {
    clear: left;
  }
}

@media (min-width: 992px) {
  .multi-columns-row .col-sm-6:nth-child(2n + 3) {
    clear: none;
  }

  .multi-columns-row .col-sm-4:nth-child(3n + 4) {
    clear: none;
  }

  .multi-columns-row .col-sm-3:nth-child(4n + 5) {
    clear: none;
  }

  .multi-columns-row .col-sm-2:nth-child(6n + 7) {
    clear: none;
  }

  .multi-columns-row .col-sm-1:nth-child(12n + 13) {
    clear: none;
  }

  .multi-columns-row .col-md-6:nth-child(2n + 3) {
    clear: left;
  }

  .multi-columns-row .col-md-4:nth-child(3n + 4) {
    clear: left;
  }

  .multi-columns-row .col-md-3:nth-child(4n + 5) {
    clear: left;
  }

  .multi-columns-row .col-md-2:nth-child(6n + 7) {
    clear: left;
  }

  .multi-columns-row .col-md-1:nth-child(12n + 13) {
    clear: left;
  }
}

@media (min-width: 1200px) {
  .multi-columns-row .col-md-6:nth-child(2n + 3) {
    clear: none;
  }

  .multi-columns-row .col-md-4:nth-child(3n + 4) {
    clear: none;
  }

  .multi-columns-row .col-md-3:nth-child(4n + 5) {
    clear: none;
  }

  .multi-columns-row .col-md-2:nth-child(6n + 7) {
    clear: none;
  }

  .multi-columns-row .col-md-1:nth-child(12n + 13) {
    clear: none;
  }

  .multi-columns-row .col-lg-6:nth-child(2n + 3) {
    clear: left;
  }

  .multi-columns-row .col-lg-4:nth-child(3n + 4) {
    clear: left;
  }

  .multi-columns-row .col-lg-3:nth-child(4n + 5) {
    clear: left;
  }

  .multi-columns-row .col-lg-2:nth-child(6n + 7) {
    clear: left;
  }

  .multi-columns-row .col-lg-1:nth-child(12n + 13) {
    clear: left;
  }
}

.linkable {
  color: white;
}

.linkable:hover {
  color: red;
}